@{
    ViewBag.Title = "Your title";
}

<link rel="stylesheet" type="text/css" href="https://prefixid.com/lib/widget/css/widget.css" />


<div class="container body-content">
    <div id="divIdentification" key="@ViewBag.Key"></div>
</div>


@section Scripts {
    <script src="https://prefixid.com/lib/widget/js/live.js" type="text/javascript"></script>
}



